header{
    background-color: #F39801;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 50;
    box-shadow:0px 4px 10px -10px rgba(20%,20%,40%,0.5);
}
.nav_wrap{
    height: 55px;
}
.navbar{
    display: flex;
}
.logo_container{
    flex: auto;
}
.collapse{
    margin-right: 15px;
}
#navbarDropdownMenuLink{
    color: lightskyblue;
}
#navbarSupportedContent{
    flex: none;
    width: auto;
}
#navbarSupportedContent> ul li{
    margin: 0 5px;
}
@media (max-width:767px){
    #navbarSupportedContent{
        width: 100%;
    }
}