header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 50;
    box-shadow:0px 4px 10px -10px rgba(20%,20%,40%,0.5);
}
.nav_wrap{
    height: 55px;
}
.container{
    max-width: 1200px;
}
#navbarDropdownMenuLink{
    color: lightskyblue;
}
#navbarSupportedContent> ul li{
    margin: 0 5px;
}
.dropdown-menu{
    min-width: 130px;
}
main{
    max-width: 1200px;
    margin: auto;
}
.form-control:focus, .btn:focus, .form-check-input:focus, .form-select:focus{
    box-shadow: none;
}
.bg-new{
    background-color: #FFF3EE;
}