main{
    width: 1050px;
    margin: 0 auto;
    min-height: 800px;
}
input, select{
    width: 150px;
    margin-left: 10px;
    height: 35px;
    padding-left: 5px;
    vertical-align:middle;
}
.btn{
    margin: 0 10px;
    border-radius: 8px;
}
/* DataBox component */
#databox_wrap{
    margin: 0 auto;
}
/* DataBox component-thead */
thead, th{
    text-align: center;
}
#order_id_col, #create_datetime_col{
    width: 110px;
}
#date_col{
    width: 210px;
}
#nights_col, #guests_col{
    width: 60px;
}
#amount_col, #order_status_col{
    width: 90px;
}
#booker_info_col{
    width: auto;
}
/* DataBox component-tbody */
td{
    text-align: center;
}
td>.btn{
    height: 50px;
}
.left_td{
    text-align: left;
    margin-left: 5px;
}
/* BookingDetail conponent */
.booking_detail{
    text-align: left;
    width: inherit;
    font-size: 15px;
    margin-top: 15px;
}
.booking_list_btn{
    font-weight: 600;
}
.booking_list_btn:hover{
    text-decoration:none;
}
/* BookingList conponent */
.booking_list{
    margin-top: 10px;
    line-height: 1.6;
}

/* Search conponent */
#search_wrap{
    
}
#search_box{
    margin-top: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search_box>div, form{
    margin: 0 auto;
}
#search_box label{
    font-weight: bold;
}
/* PaymentInfo component */
.payment_detail{
    margin-top: 10px;
    border-radius: 2px;
    border: 1.5px grey solid;
    background-color: blanchedalmond;
}
.payment_div>button{
    margin-left: 10px;
}
.paid{
    color: green;
    font-weight: 600;
}
.unpaid{
    color: red;
    font-weight: 600;
}
/* PaidForm component */
.payment_form{
    padding: 5px 0;
    margin-left: 10px;
}
.payment_form input{
    height: 30px;
    width: 125px;
    margin-left: 5px;
}
.payment_form>div{
    margin-top: 4px;
}
.payment_form>input{
    margin-top: 5px;
    margin-left: 0;
    width: 100px;
}
#transfer_date_input{
    width: 150px;
}
.payment_form>.update_btn{
    color: red;
}
/* DataRow */
.paid_tr{
    background-color: #FFF3EE;
}
.unpaid_tr{
    background-color: #FFFCEC;
}
.cancel_tr{
    color: grey;
}