.box{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    opacity: 0.95;
}
.about{
    width: 800px;
    background-color: whitesmoke;
    margin: 0 auto;
    line-height: 2;
}
.about>h3{
    color: #F39801;
    padding-top: 25px;
}
.about>div{
    text-align: left;
    padding: 20px 55px;
}
.contact{
    width: 800px;
    min-height: 290px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.contact>div{
    margin-left: 30px;
}
.iframe_div>iframe{
    width: inherit;
    margin-left: 30px;
}
.info{
    text-align: left;
    line-height: 2;
}
.info>h4{
    color: #F39801;
    margin: 10px 0;
}
/*RWD*/
@media (max-width:1200px){
    .box{
        width:95%;
    }
    .box>div{
        width: 100%;
    }
}
@media (max-width:600px){
    .about>div{
        padding: 20px 35px;
    }
    .about>h3{
        font-size: 1.6em;
    }
    .contact>div{
        margin: 0 auto;
        width: 90%;
    }
    .iframe_div>iframe{
        margin: 0 auto;
        width: inherit;
    }
    .info{
        padding-bottom: 20px;
        font-size: 14px;
    }
    .info>h4{
        font-size: 1.2em;
    }
}