@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

*{
    margin:0;
    font-family: 'Noto Sans TC', sans-serif;
}
body{
    font-size: 18px;
    color: #1A1A1A;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
input, select{
    line-height: 1.8;
    padding-left: 5px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 27px;
}
h4{
    font-size: 21px;
}

#header_wrap{
    background-color: #F39801;
    height: 80px;
}
/* header */
header{
    height: 80px;
    background-color: #F39801;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 50;
    overflow: hidden;
    box-shadow:0px 4px 10px -10px rgba(20%,20%,40%,0.5);
}
.header_dropdow{
    background-color: #FFFFFF;
}
.nav{
    height: inherit;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.logo{
    flex: none;
    width: 100px;
    height: inherit;
}
#logo_main{
    height: 68px;
    width: auto;
    margin: 6px auto;
}
#logo_mobile{
    height: 72px;
    width: inherit;
    margin-top: 3px;
}
#menu{
    flex: auto;
    margin: auto 10px;
    text-align: right;
}
#menu ul li {
    display: inline-block;
    margin: 20px;
}
#menu a{
    color: #1A1A1A;
}
#menu a:hover{
    color: #FFFFFF;
}
#book_now_btn{
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: #1A1A1A;
    border-radius: 50px;
    height: 36px;
    width: 120px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 17px;
}
#book_now_btn:hover{
    background-color:#FFFFFF;
    color: #F39801;
    font-weight: bold;
    border:1.5px #FFFFFF solid;
}

/* menu_toggler */
#menu_toggler{
    flex: auto;
    margin: auto 0;
    text-align: end;
    display: none;
}
#menu_toggler>button{
    margin-top: 5px;
    background-color: inherit;
    border: none;
}
#menu_toggler img:hover{
    width: 60px;
    height: auto;
}
#menu_toggler_btn_close{
    background-color: #FFFFFF;
}

/* Main */
main{
    min-height: 760px;
    background-image: url('../images/index.jpg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position:center center;
    overflow: hidden;
}
.mainbox{
    min-height: 680px;
}

/* Search Component*/
#available_room_search{
    width: 500px;
    margin: 20px auto;
    padding: 0 5px;
    background-color: #FFFFFF;
    border: 5px #FFFFFF solid;
    opacity: 0.95;
    display: flex;
    letter-spacing: 1px;
    justify-content:space-around;
    flex-wrap: wrap;
}
#available_room_search:hover{
    opacity: 1;
}
#available_room_search>div{
    margin: 10px 0;
    font-size: 15px;
}
#available_room_search input{
    width: 125px;
    margin-top: 2px;
}
#available_room_search input[type="number"]{
    width: 80px;
}
.submit_div>button{
    height: 53px;
    background-color: #F39801;
    border: 2px #F39801 solid;
    font-weight: normal;
    width: 80px;
    letter-spacing: 1px;
}
.submit_div>button:hover{
    color: #FFFFFF;
}
/* Footer */
footer{
    height: 80px;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.7;
    margin-bottom: 0;
}
.icon{
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
}
.icon img{
    margin: 10px 5px;
    height: 30px;
    width: 30px;
}
/*RWD*/
@media (max-width:1200px){
    .nav{
        width:95%;
    }
}
@media (max-width:600px){
    body{
        font-size: 17px;
    }
    main{
        
    }
    header{
        height: auto;
    }

    /* menu */
    #menu{
        display: none;
    }
    #menu_toggler{
        display: block;
    }
    .dropdown_menu_hidden{
        display: none;
    }
    .dropdown_menu ul li {
        text-align: center;
        list-style: none;
        margin: 15px auto;
    }
    .dropdown_menu a{
        color: #1A1A1A;
    }
    .dropdown_menu a:hover{
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    .dropdown_menu a[href="/booking"]:hover{
        font-size: 1em;
        color: #F39801;
        font-weight: bold;
    }
    /* available_room_search */
    #available_room_search{
        width: 280px;
        margin: 5px auto;
    }
    #available_room_search>div{
        width: 50%;
        margin: 5px auto;
        font-size: 14px;
    }
    #available_room_search input[type="number"]{
        width: 125px;
    }
    .submit_div>button{
        width: 130px;
        margin: auto 5px;
        font-size: 14px;
    }
}