main{
    background-image: none;
    background-color: #FFFFFF;
}

#bill_wrap{
    margin: 20px auto;
    width: 1000px;
    background-color: #F0F0F0;
    font-size: 18px;
}
#bill_wrap>div{
    padding: 30px 50px;
}
#bill_wrap h4{
    font-size: 1.1em;
}
table{
    padding: 20px 10px;
    line-height: 2;
}
th, td{
    padding: 5px 20px;
}
/*RWD*/
@media (max-width:1200px){
    #bill_wrap{
        width:90%;
    }
}
@media (max-width:600px){
    #bill_wrap{
        width:95%;
    }
}