a{
    text-decoration: none;
    cursor: pointer;
}
#banner>div{
    display: flex;
    margin: 20px 30px;
}
.title{
    width: 80%;
}
.menu{
    width: 20%;
    text-align: right;
    font-weight: bold;
}
table{
    margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
}
thead{
    color:green;
}
th{
    width: 100px;
}
td{
    text-align: center;
    vertical-align: middle;
}
.holiday{
    background-color: pink;
}
#note{
    font-size: 8px;
    color: black;
    height: 10px;
}
tbody{
    color:blue;
    height:50px;
}
.order_link{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.order_link>p{
    margin: 0 5px;
}