main{
    background-image: none;
    background-color: #FFFFFF;
}

/* Search Component*/
#search_wrap{
    margin: 15px auto;
 }
#available_search{
    margin: 0 auto;
    opacity: 1;
}
#available_search input{
    background-color: #F0F0F0;
    border: 1.2px black solid;    
}
.submit_div>button{
    background-color: #1a1a1a;
    border: 1.2px #F0F0F0 solid;
    color: #FFFFFF;
    border-radius: 2px;
}
.submit_div>button:hover{
    background-color: #FFFFFF;
    color: #1a1a1a;
    border: 1.8px #1a1a1a solid;
}

/* RoomBox Component */
#room_box_wrap{
    width: 1000px;
    margin: 0 auto;
}
#no_available_msg{
    text-align: center;
    color: green;
}

/* RoomInfo Component*/
.room_info_div{
    background-color: #F0F0F0;
    margin: 10px auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    box-shadow:0px 4px 10px -10px rgba(20%,20%,40%,0.5);
}
.room_info_div>div{
    margin: 0 auto;
    margin: 10px;
}
.room_img_div{
    flex: none;
    width: 290px;
}
.room_img_div>img{
    width: 100%;
    min-width: 250px;
    height: 100%;
}
.room_detail{
    width: none;
    width: 49%;
    line-height: 2;
}

.special_price{
    margin-top: 10px;
}
.room_rate{
    flex: none;
    width: 160px;
    font-size: 15px;
}
.room_rate h1{
    color: blue;
    font-size: 50px;
    margin: 10px auto;
}
h1>span{
    font-size: 16px;
}
p>span{
    font-size: 8px;
}
.room_rate>div{
    text-align: center;
    margin: 10px auto;
    height: 110px;
    
}
.room_rate button{
    margin-top: 55px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-size: 19px;
    border: #1A1A1A;
    border-radius: 50px;
    height: 36px;
    width: 120px;
}

/* BookingForm Component */
div[id^="booking_detail_"]{
    display: none;
    width: 90%;
    background-color: #E6E6F2;
    margin: 0 auto;
    margin-top: -10px;
    line-height: 2.2;
    padding-left: 10px;    
}
.booking_form{
    margin: 10px auto;
    display: flex;
}
.booking_form>div, form{
    margin: 10px 15px;
}
.booking_form h4{
    margin-left: -5px;
    letter-spacing: 3px;
}
.booking_form input{
    width: 50px;
    font-size: 14px;
    margin: 3px 5px;
}
input:disabled{
    font-weight: bolder;
    font-size: 18px;
    width: 100px;
    padding: 0 2px;
    text-align: center;
    color: blue;
    letter-spacing: 1px;
}
.arrow_img_div{
    width: 60px;
    line-height: 220px;
}
.arrow_img_div>img{
    width: inherit;
    height: auto;
}
.booker_info>div{
    margin-top: 5px;
}
.booker_info input{
    width: 150px;
}
.booker_info input[type="submit"]{
    width: 120px;
}
.radio_container>input[type="radio"]{
    width: 30px;
}
input[type="datetime-local"], input[type="email"]{
    width: 200px;
}

@media (max-width:1200px){
    #room_box_wrap{
        width: 90%;
    }
    .room_img_div{
        
    }
}

@media (max-width:600px){
    #search_wrap{
        width: 98%;
    }
    .room_info_div>div{
        width: 95%;
    }
}