/* Main */
main{
    height: 770px;
    background-image: url('../images/index.jpg');
}
#award{
    width: 1200px;
    margin: 0 auto;
    padding-left: 34px;
    padding-top: 34px;
}
#award>img{
    height: 180px;
    width: 180px;
}
.box{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}
.slogan{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 15px;
}
.title{
    font-size: 38px;
    color: #F39801;
    font-weight: bolder;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10px;
}
.discribe{
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: lighter;
}
#booking{
    width: 590px;
    margin: 50px auto;
    background-color: #FFFFFF;
    opacity: 0.95;
    border: 5px #FFFFFF solid;
    display: flex;
    align-items: center;
}
#booking:hover{
    opacity: 1;
}
#booking>div{
    margin: 10px;
    font-size: 13px;
}
#booking input{
    line-height: 1.8;
}
.submit>button{
    line-height: 3.2;
    background-color: #F39801;
    border: 2px #F39801 solid;
    font-weight: bolder;
}
.submit>button:hover{
    color: #FFFFFF;
}