#award{
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 30px;
}
#award>img{
    height: 170px;
    width: 170px;
}
.box{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}
.slogan{
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 900;
    margin-top: 15px;
    letter-spacing: 3px;
}
.title{
    font-size: 42px;
    color: #F39801;
    margin: 0 auto;
    font-weight: 900;
    font-family: "Noto Sans", sans-serif;
}
.describe{
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: lighter;
}
#search_wrap{
    margin-top: 40px;
}
/*RWD*/
@media (max-width:1200px){
    .box{
        width: 90%;
    }
}
@media (max-width:600px){
    #award{
        padding-left: 15px;
        padding-top: 15px;
    }
    #award>img{
        width: 130px;
        height: 130px;
    }
    .slogan{
        font-size: 3em;
    }
    .title{
        font-size: 2em;
    }
}