#award{
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 30px;
}
#award>img{
    height: inherit;
    width: auto;
    border-radius: 3px;
}
.box{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    line-height: 2;
}
.box>div{
    margin: 5px auto;
}
.slogan{
    color: #FFFFFF;
    letter-spacing: 1px;
}
.title{
    color: #F39801;
}
.describe{
    color: #FFFFFF;
    padding-top: 30px;
}
#search_wrap{
    margin-top: 40px;
}
/*RWD*/
@media (max-width:1200px){
    
}
@media (max-width:600px){
    .box{
        width: 90%;
        font-size: 14px;
    }
    .box>div{
        margin: 10px auto;
    }
    #award{
        height: 100px;
    }
    #award>img{
        display: none;
    }
    .slogan>h1{
        font-size: 2.5em;
    }
    .title>h2{
        font-size: 1.8em;
    }
}