main{
    width: 1000px;
    margin: 0 auto;
    height: 800px;
}
#wrap{
    margin-top: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap>div{
    margin: 0 auto;
}
input, select{
    width: 150px;
    margin-left: 10px;
    height: 35px;
    padding-left: 5px;
    vertical-align:middle;
}
.btn{
    margin: 0 10px;
    border-radius: 8px;
}

#databox{
    margin: 0 auto;
    margin-top: 15px;
}

thead, th{
    text-align: center;
    vertical-align: middle;
}
#order_id_col, #create_datetime_col{
    width: 90px;
}
#date_col, #booker_info_col{
    width: 180px;
}
#amount_col, #order_status_col{
    width: 60px;
}
#add_on_service_col{
    width: 80px;
}
#nights_col, #guests_col{
    width: 25px;
}
td>select{
    width: inherit;
}
td{
    text-align: center;
}
.left_td{
    text-align: left;
    margin-left: 5px;
}
.booking_list_btn:hover{
    text-decoration:none;
}
.booking_detail{
    text-align: left;
    width: inherit;
    font-size: 15px;
    margin-top: 10px;
}
/*booker_info_col*/
#booker_info_col{
    width: 260px;
}
.payment_div>span{
    color: red;
}
.payment_div>button{
    margin-left: 20px;
    border-radius: 3px;
}
.paid_btn{
    border: 2px green solid;
    color: green;
    background-color: white;
}
.payment_detail{
    margin-top: 10px;
    border-radius: 2px;
    border: 1.5px grey solid;
    background-color: blanchedalmond;
}
.payment_form{
    padding: 5px 0;
    margin-left: 10px;
}
.payment_form input{
    height: 30px;
    width: 125px;
    margin-left: 5px;
}
.payment_form>div{
    margin-top: 4px;
}
.payment_form>input{
    margin-top: 5px;
    margin-left: 0;
    width: 100px;
}
.update_btn{
    color: red;
    background-color: white;
    border: 1.5px red solid;
}
#transfer_date_input{
    width: 150px;
}