@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-size: 45px;
    font-weight: 900;
}
h2{
    font-size: 35px;
    font-weight: 800;
}
h3{
    font-size: 27px;
    font-weight: 700;
}
h4{
    font-size: 21px;
    font-weight: 600;
}
.form-control, .btn{
    padding: 0.3rem 0.5rem;
    border-radius: 0.15rem;
}
.form-control:focus, .btn:focus{
    box-shadow: none;
}
.book_now_btn{
    border-radius:50px;
    width: 110px;
}
/* header */
.navbar{
    background-color: #F39801;
    min-height: 75px;
}
.container{
    width: 95vw;
    max-width: 1200px;
}
.navbar-brand img{
    height: 62px;
}
header .book_now_btn:hover{
    color: #F39801;
    background-color: #fff;
    border-color: #fff;
}
.navbar-dark .navbar-nav .nav-link{
    color: #212529;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff; 
}
/* main */
main{
    min-height: 760px;
    background-image: url('../images/index.jpg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position:center center;
    overflow: hidden;
}
.mainbox{
    min-height: 685px;
    margin: 0 auto;
}
/* footer */
footer{
    height: 75px;
    background-color: whitesmoke;
    opacity: 0.7;
}
.footer_container{
    width: 250px;
    margin: auto;
    padding: auto;
    padding-top: 8px;
}
.follow_us, .icon{
    margin: auto 5px;
}
.follow_us h3{
    margin-bottom: 0;
}
.icon img{
    width: 30px;
}

/* Search Component*/
#search_wrap{
    width: 520px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 10px 8px;
    border: 2px #FFFFFF solid;
    border-radius: 0.15rem;
}
@media (max-width:600px){
    #search_wrap{
        width: 92%;
    }
}