main{
    background-image: none;
    background-color: #FFFFFF;
}

#bill_wrap{
    margin: 20px auto;
    width: 1000px;
    background-color: #F0F0F0;
    font-size: 18px;
}
#bill_wrap>div{
    padding: 30px 50px;
}
#bill_wrap h4{
    font-size: 1.1em;
}
table{
    padding: 20px 10px;
    line-height: 2;
}
th, td{
    padding: 5px 20px;
}
.reminder{
    color: blue;
}
/*RWD*/
@media (max-width:1200px){
    #bill_wrap{
        width:90%;
    }
}
@media (max-width:600px){
    body{
        font-size: 17px;
    }
    #bill_wrap{
        width:97%;
    }
    #bill_wrap>div{
        padding: 15px 5px;
        font-size: 16px;
    }
    table{
        padding: 10px 0px;
        line-height: 2;
    }
    th{
        min-width: 75px;
        padding: 5px;
    }
    .reminder{
        text-align: center;
    }
}