.box{
    width: 500px;
    margin: auto;
    margin-top: 130px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 2;
}
.box>div{
    margin: 25px auto;
}
.slogan{
    color: #FFFFFF;
}
.title{
    color: #F39801;
}
.describe{
    color: #FFFFFF;
}
/* Search Component*/
#search_wrap{
    width: 520px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 12px 8px 8px 8px;
    border: 2px #FFFFFF solid;
    border-radius: 4px;
    opacity: 0.95;
}
#search_wrap:hover{
    opacity: 1;
}
/*RWD*/
@media (max-width:1200px){
    
}
@media (max-width:600px){
    .box{
        width: 90%;
        max-width: 500px;
        min-width: 300px;
        font-size: 15px;
    }
    .box>div{
        margin: 0 auto;
    }
    .slogan>h1{
        font-size: 2.5em;
    }
    .title>h2{
        font-size: 1.8em;
    }
    #search_wrap{
        width: 92%;
    }
}