<!DOCTYPE html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href={{ url_for("static", filename="images/Staff-Only-Sign-PNG-Image-File.png") }} type="image/x-icon" />
    <script type="text/javascript" src={{ url_for("static", filename="js/user.js") }}></script>
    <!--Load React and React DOM-->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Load Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}
    <script>
        const currentUserPromise = userRequest().then(resp=>{
            return resp.data
        })
    </script>
</body>
</html>