{% extends "admin_base.html" %}
{% block title %}Staff Only{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/admin.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/user.js") }}></script>
{% endblock %}
{% block content %}
    <main>
        <!--由LoginForm組件渲染-->
    </main>
    <script type="text/babel">
        class LoginForm extends React.Component{
            state = {
                username:"",
                password:""
            }
            render(){
                return(
                    <div id="login_box">
                        <div id="logo_box">
                            <img src="../static/images/logo1.jpg" alt=""/>
                        </div>
                        <form method="post" onSubmit={this.handleSubmit}>
                        <div className="mb-3">
                            <label for="" className="form-label">帳號</label>
                            <input type="text" className="form-control" name="username" id="username"
                                value={this.state.username} onChange={this.handleChange("username")}/>
                        </div>
                        <div className="mb-3">
                            <label for="" className="form-label">密碼</label>
                            <input type="password" className="form-control" name="password" id="password"
                                value={this.state.password} onChange={this.handleChange("password")}/>
                        </div>
                        <button type="submit" className="btn btn-primary">登入</button>
                        </form>
                    </div>
                )
            }
            handleChange=(dataType)=>{
                return(eObj=>{
                    this.setState({[dataType]:eObj.target.value});
                })
            }
            handleSubmit=(eObj)=>{
                eObj.preventDefault()
                const {username, password} = this.state
                if(username==="" || password===""){
                    alert("登入資料皆不得為空值")
                    return
                }
                const data = {username, password}
                let p = userRequest("post", data)
                p.then(resp=>{
                    if(resp.ok){
                        localStorage.setItem("jwt", resp.access_token)
                        location.href = `/admin/board`
                    }else if(resp.error){
                        alert(resp.message)
                        location.reload()
                    }
                })
            }
        }
        addEventListener("load", ()=>{
            currentUserPromise.then(currentUser=>{
                if(currentUser==null){
                    ReactDOM.render(<LoginForm/>, document.querySelector("main"));
                }else{
                    location.href = `/admin/board`
                }  
            })
        })
    </script>
{% endblock %}