<!DOCTYPE html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href={{ url_for("static", filename="images/717322.jpg") }} type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/base.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/calendar.js") }}></script>
    {% endblock %}
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="/">
                    <img src={{ url_for("static", filename="images/logo.png") }} alt="home">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/about">關於打個蛋</a>
                    </li>
                    <li>
                        <a href="/booking">
                            <button id="book_now">線上訂房</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="nav_wrap"></div>
    <main>
        <div class="mainbox">
            {% block content %}

            {% endblock %}
        </div>
        <footer>
            <div class="icon">
                <h2>Follow Us &thinsp;</h2>
                <a href="https://www.facebook.com/Dagedanhouse">
                    <img src={{ url_for("static", filename="images/icon-fb.png") }} alt="">
                </a>
                <a href="https://www.instagram.com/dagedanhouse/">
                    <img src={{ url_for("static", filename="images/icon-ig.png") }} alt="">
                </a>          
            </div>
            <div>
                © 2020 by Dagedan House B&B
            </div>
        </footer>
    </main>
</body>
</html>