{% extends "base.html" %}
{% block title %}Booking Calendar{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="static/js/order.js"></script>
{% endblock %}
{% block content %}
<div id="bill_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
{% block script %}
<script type="text/babel">
    class Bill extends React.Component{
        render(){
            console.log(this.props.oid);
            console.log(this.props.data);
            return(
                <div>
                    <p>您已完成訂房, 請按下列資訊在期限內進行付款：</p>
                    <h3>訂單編號</h3>
                    <h3>收款帳戶</h3>
                    <p>玉山銀行(808) 中山分行</p>
                    <p>帳號：0417-968-052086</p>
                    <p>戶名：林志豪</p>
                    <h3>金額： 新台幣</h3>
                    <h3>付款期限： </h3>
                </div>
            )
        }
    }
    addEventListener("load", ()=>{
        const oid = window.location.search.split("?")[1].split("=")[1]
        if(oid){
            getOrderByOid(oid).then(resp=>{
                ReactDOM.render(<Bill oid={oid} data={resp.data}/>, document.getElementById("bill_wrap"));
            })
        }
    })
</script>
{% endblock %}
{% endblock %}