{% extends "admin_base.html" %}
{% block title %}Board{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/board.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/room.js") }}></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/calendar.js") }}></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/booking.js") }}></script>
    <!-- Load Pubsub-js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.9.3/pubsub.min.js" integrity="sha512-ASNLdxh5Knd0ESqUQE2hvUbXxOmu0y27vVVibROAKRomo+R6ocykvh0m8tE9qMEfmeVbEyNL1M6FvvyRKyZIoQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <main>
        <div id="board">
            <!--由Board組件渲染-->
        </div>        
    </main>
    <script type="text/babel">
        class Board extends React.Component{
            state = {
                rooms: [],
                page: 0,
                y: "2021",
                m: "12",
                week: []
            }
            componentDidMount(){
                roomRequest().then(resp=>{
                    this.setState({rooms: resp.data});
                    this.updateWeeklyCalendar(0);
                })
            }
            render(){
                const week = this.state.week;
                const rooms = this.state.rooms;
                let calendar_content = [];
                let row_content = [];
                if(week.length>0 && rooms.length>0){
                    calendar_content = week.map(day=><DayColumn key={day.date} data={day} />)
                    row_content = rooms.map(r=><Row key={r.room_no} room={r} week={week} />)
                }
                return(
                    <table>
                        <thead>
                            <tr>
                                <th colspan="9"><h1>{this.state.y} 年 - {this.state.m} 月</h1></th>
                            </tr>
                            <tr className="calendar_tr">
                                {this.state.page!==0 ? (
                                    <th id="prv_page">
                                        <a href="/admin/board">回本週</a>
                                        <p><a href="javascript: void(0)" onClick={this.toNextPage(-1)}>上週</a></p>                            
                                    </th>
                                ) : (
                                    <th id="prv_page">
                                        <a href="">歷史訂單</a>
                                    </th>
                                )}
                                { calendar_content }
                                <th id="next_page">
                                    <a href="javascript: void(0)" onClick={this.toNextPage(1)}>下週</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            { row_content }
                        </tbody>
                    </table>
                )
            }            
            toNextPage=(number)=>{
                return(eObj=>{
                    let page = this.state.page+number;
                    this.updateWeeklyCalendar(page);
                })
            }
            updateWeeklyCalendar=(page)=>{
                let start_date_string = getDateString(page*7);
                getWeeklyCalendar(start_date_string).then(respC=>{
                    let week = respC.data;
                    let end_date_string = week[6].date;
                    getBookingListWithAuth(start_date_string, end_date_string).then(respB=>{
                        this.setState({
                            page,
                            y: week[0].date.substring(0,4),
                            m: week[0].date.substring(5,7),
                            week
                        })
                        PubSub.publish('BOOKED', respB.data);
                    })
                })
            }
        }
        class DayColumn extends React.Component{
            render(){
                return(
                    <th className={this.props.data.is_holiday ? "holiday" : null}>
                        <h2>{((this.props.data.date).split("-"))[2]}</h2>
                        <p>{this.props.data.weekday}</p>
                        <p id="note">{this.props.data.note}</p>
                    </th>
                )

            }
        }
        class Row extends React.Component{
            render(){                
                const room = this.props.room;
                const week = this.props.week;
                let week_content = [];
                week.forEach(d => {
                    let id = d.date+"-"+room.room_no
                    let td = (
                        <td className="order_td">
                            <OrderLink id={id} />
                        </td>
                    )
                    week_content.push(td);               
                });
                return(
                    <tr className="row">
                        <th>{room.name}-{room.room_no}</th>
                        { week_content }
                        <td><button onClick={this.handleClickBtn(room.room_no)}>修改房間</button></td>
                    </tr>
                )
            }
            handleClickBtn=(room_no)=>{
                return(eObj=>{
                    console.log(room_no);
                })
            }
        }
        class OrderLink extends React.Component{
            state = {
                booked: []
            }
            componentDidMount(){
                this.token=PubSub.subscribe("BOOKED", (_, booked)=>{
                    this.setState({booked})
                })
            }
            render(){
                const id =this.props.id;
                const booked = this.state.booked;
                let a_content = null;
                let href = "#";
                if(booked.length>0){
                    booked.forEach(b=>{
                        if(b.bid===id){
                            a_content = <p>{b.booker_gender=="F" ? "Miss" : "Mr."} {b.booker_name} {b.booker_phone}</p>;
                            href = `/admin/order?id=${b.order_id}`;
                        }
                    })
                }
                return (
                    <a href={href} className="order_link">
                        { a_content }
                    </a>
                )
            }
            componentWillUnmount(){
                PubSub.unsubscribe(this.token);
            }
        }
        addEventListener("load", ()=>{
            currentUserPromise.then(currentUser=>{
                // console.log(currentUser)
                if(currentUser!==null){
                    ReactDOM.render(<Banner id={currentUser[0]} name={currentUser[1]}/>, document.querySelector("header"));
                    ReactDOM.render(<Board/>, document.querySelector("#board"));
                }else{
                    location.href = `${window.origin}/admin/`
                }
            })
        })       
    </script>
{% endblock %}