{% extends "admin_base.html" %}
{% block title %}Board{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/board.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/room.js") }}></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/calendar.js") }}></script>
{% endblock %}
{% block content %}
    <main>
        <div id="banner">
            <!--由Banner組件渲染-->
        </div>
        <hr>
        <div id="board">
            <!--由Board組件渲染-->
        </div>        
    </main>
    <script type="text/babel">
        class Banner extends React.Component{
            render(){
                // console.log(this.props);
                return(
                    <div>
                        <div className="title">登入成功，{this.props.name} 你好</div>
                        <div className="nav"><a href="">登出</a></div>
                    </div>
                )
            }
        }
        class Board extends React.Component{
            state = {
                page:1,
                start_index:0,
                date_list:[],
                room_list:[]
            }
            componentDidMount(){
                roomRequest().then(resp=>{
                    this.setState({room_list: resp.data})
                })
                let date_string = getDateString(); // 預設值是今天
                getCalendar(date_string).then(resp=>{
                    this.setState({date_list: resp.data})
                })
            }
            render(){
                return(
                    <table>
                        <thead>
                            <tr>
                                <th>上週</th>
                                <th>下週</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                )
            }
        }
        
        addEventListener("load", ()=>{
            currentUserPromise.then(currentUser=>{
                // console.log(currentUser)
                if(currentUser==null){
                    location.href = `${window.origin}/admin`
                }else{
                    ReactDOM.render(<Banner user={currentUser[0]} name={currentUser[1]}/>, document.querySelector("#banner"));
                    ReactDOM.render(<Board/>, document.querySelector("#board"));
                }
            })
        })
        
    </script>
{% endblock %}