{% extends "base.html" %}
{% block title %}Booking Calendar{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/booking.css">
    <script type="text/javascript" src="static/js/room.js"></script>
{% endblock %}
{% block content %}
<div id="search_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
<div id="room_box_wrap">
    <!--由RoomBox組件渲染-->
</div>
{% block script %}
<script type="text/babel">
    function comma(value){
        if(!isNaN(Number(value))){
            return value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
        }else{
            alert(`${value}不是數字!`)
        }
    }
    class RoomBox extends React.Component{
        state = {}
        componentDidMount(){
            const num_of_guests = (search_string_3th[0]==="guests" && search_string_3th[1]);
            roomRequest(num_of_guests).then(respR=>{
                this.setState(respR.data)
            })
        }
        render(){
            let rooms_content = [];
            Object.keys(this.state).forEach(type=>{
                rooms_content.push(<RoomInfo type={type} info={this.state[type]}/>)
            })
            return(
                <div>
                    {rooms_content}
                </div>
            )
        }
    }
    class RoomInfo extends React.Component{
        state = null
        componentDidMount(){
            const check_in_date = (search_string_1st[0]==="checkin" && search_string_1st[1]);
            const check_out_date = (search_string_2nd[0]==="checkout" && search_string_2nd[1]);
            availableRoomsRequest(check_in_date, check_out_date, this.props.type).then(resp=>{
                if(resp.min_quantity!==0){
                    this.setState(resp)
                }
            })
        }
        render(){
            return(
                <div>
                    {this.state && (
                        <div className="room_info_div">
                            <div className="room_img_div">
                                <img src={this.props.info.images && this.props.info.images[5]} alt=""/>    
                            </div>
                            <div className="room_detail">
                                <div>
                                    <h3>{this.props.info.name}</h3>
                                    <p>{this.props.info.description}<a href="#">更多詳情</a></p>
                                </div>
                                <div className="special_price">
                                    <h4>特價方案：</h4>
                                    <p>平日特價：<span>NT </span>{comma(this.props.info.rate_weekday)}</p>
                                    <p>一人入住：<span>NT </span>{comma(this.props.info.rate_weekday*this.props.info.single_discount)}<span> 起</span></p>
                                </div>
                            </div>
                            <div className="room_rate">
                                <div>
                                    <p>每晚定價：適用{this.props.info.accommodate}人</p>
                                    <h1><span>NT </span>{comma(this.props.info.rate_holiday)}</h1>
                                </div>
                                <div>
                                    <button className="book_now_btn">Book Now</button>
                                    {this.state.min_quantity<=2 && <p>最後{this.state.min_quantity}間</p>}
                                </div>
                            </div>
                        </div>
                    )}
                </div>
            )
        }
    }
    addEventListener("load", ()=>{
        ReactDOM.render(<Search />, document.getElementById("search_wrap"));
        if(window.location.search!==""){
            ReactDOM.render(<RoomBox />, document.getElementById("room_box_wrap"));
        }
    })
</script>
{% endblock %}
{% endblock %}