{% extends "base.html" %}
{% block title %}Booking Calendar{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/booking.css">
    <script type="text/javascript" src="static/js/room.js"></script>
{% endblock %}
{% block content %}
<div id="search_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
<div id="calendar_wrap">
    <!--由Calendar組件渲染-->
</div>
{% block script %}
<script type="text/babel">
    class Calendar extends React.Component{
        state = {
            index: 1,
            rooms: [],
            y: "",
            m: "",
            week: [],
            booked: []
        }
        componentDidMount(){
            const first_search_sting = location.search.split("&")[0].split("?")[1].split("=");
            if(first_search_sting[0]=="checkin"){
                getWeeklyCalendar(first_search_sting[1]).then(respC=>{
                    const week = respC.data;
                    getBookingListByDate(week[0].date).then(respB=>{
                        const booked = respB.data;
                        this.setState({
                            rooms: this.props.rooms,
                            y: week[0].date.split("-")[0],
                            m: week[0].date.split("-")[1],
                            week,
                            booked
                        })
                    })
                })
            } 
        }
        render(){
            if(this.state.week.length>0){
                const tomorrow_string = getDateString();
            }
            return(
                <table>
                    <thead>
                        <tr>
                            <th colspan="9"><h2>{this.state.y} 年 - {this.state.m} 月</h2></th>
                        </tr>
                        <tr>
                            <td className="left_td">
                                <p><a href="javascript: void(0)" onClick={this.toNextPage(-7)}>上週</a></p>
                            </td>
                            {this.state.week.map(d=><Day data={d}/>)}
                            <td className="left_td">
                                <a href="javascript: void(0)" onClick={this.toNextPage(7)}>下週</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {this.state.rooms.map(r=><Row room={r} week={this.state.week}/>)}
                    </tbody>
                </table>
            )
        }
        toNextPage=(days)=>{
            return(eObj=>{
                console.log(days);
            })
        }
    }
    class Day extends React.Component{
        render(){
            const data = this.props.data;
            return(
                <th className={data.is_holiday && "holiday"}>
                    <h1>{((data.date).split("-"))[2]}</h1>
                    <p>{data.weekday}</p>
                </th>
            )
        }
    }
    class Row extends React.Component{
        render(){
            const room = this.props.room;
            const week = this.props.week;
            return(
                <tr>
                    <th>
                        {room.room_name}
                    </th>
                    {week.map(d=>(
                        <BookingItem id={`${d.date}-${room.room_no}`}/>
                        )
                    )}
                    <th>
                        {room.room_name}
                    </th> 
                </tr>
            )
        }
    }
    class BookingItem extends React.Component{
        render(){
            return(
                <td>
                    <a href="#">{this.props.id}</a>
                </td>
            )
        }
    }
    addEventListener("load", ()=>{
        ReactDOM.render(<Search />, document.getElementById("search_wrap"));
        if(window.location.search!==""){
            roomRequest().then(resp=>{
                if(resp.data){
                    ReactDOM.render(<Calendar rooms={resp.data}/>, document.getElementById("calendar_wrap"))
                }
            })
        }
    })
</script>
{% endblock %}
{% endblock %}