{% extends "base.html" %}
{% block title %}Booking Calendar{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/booking.css">
    <script type="text/javascript" src="static/js/room.js"></script>
{% endblock %}
{% block content %}
<div id="search_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
<div id="calendar_wrap">
    <!--由Calendar組件渲染-->
</div>
{% block script %}
<script type="text/babel">
    class Calendar extends React.Component{
        state = {
            start_date_index: 1, // 自今天為0起算的索引, 明天即為1, ...以此類推, 最大值84
            max_index: 7*12,
            week: [],
            rooms: []
        }
        getBookingCalendar=(start_date_string)=>{
            getWeeklyCalendar(start_date_string).then(respC=>{
                this.setState({
                    start_date_index: this.getDateIndex(start_date_string),
                    week: respC.data
                })
            })
        }
        componentDidMount(){
            const first_search_string = location.search.split("&")[0].split("?")[1];
            if(first_search_string.split("=")[0]=="checkin"){
                const start_date_string = first_search_string.split("=")[1];
                roomRequest().then(respR=>{
                    this.setState({rooms: respR.data});
                    this.getBookingCalendar(start_date_string);
                })
            }
        }
        render(){
            const week_keys = Object.keys(this.state.week);
            let calendar_content = [];
            week_keys.forEach(date=>{
                calendar_content.push(<Day date={date} detail={this.state.week[date]} />)
            })
            const rooms = this.state.rooms;
            return(
                <table>
                    <thead>
                        <tr>
                            <th>
                                {this.state.start_date_index!==1 && <a href="javascript: void(0)" onClick={this.toNextPage(-7)}>上週</a>}
                            </th>
                            { calendar_content }
                            <th>
                                {this.state.start_date_index<(this.state.max_index+1) && <a href="javascript: void(0)" onClick={this.toNextPage(7)}>下週</a>}
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        { rooms.map(room=><Row room={room} week={this.state.week}/>) }
                    </tbody>
                </table>
            )
        }
        getDateIndex=(date_string)=>{
            const one_day_ms = 1000*60*60*24;
            const today_string = getDateString(0);
            let today_ms = new Date(today_string).getTime();
            let target_date_ms = new Date(date_string).getTime()
            return (target_date_ms-today_ms)/one_day_ms
        }
        toNextPage=(days)=>{
            return(eObj=>{
               let index = this.state.start_date_index+days;
               if(index<=0){
                   index = 1
               }
               const next_start_date_string = getDateString(index);
               this.getBookingCalendar(next_start_date_string);
            })
        }
    }
    class Day extends React.Component{
        render(){
            const data = this.props.detail;
            let date = ((this.props.date).split("-"))[2];
            if(date[0]==="0"){
                date = date[1]
            }
            let m = ((this.props.date).split("-"))[1];
            if(m[0]==="0"){
                m = m[1]
            }
            return(
                <th className={data.is_holiday? "calendar_th holiday" : "calendar_th"}>
                    <h1><span className="month_string">{ date==="1"&& `${m}/` }</span>{date}</h1>
                    <p>{data.weekday}</p>
                </th>
            )
        }
    }
    class Row extends React.Component{
        render(){
            const room = this.props.room;
            const week = this.props.week;
            let booking_content = [];
            Object.keys(week).forEach(date=>{
                const booked = week[date]["booked"];
                let bid;
                let rate;
                if(!booked.includes(room.room_no) && !week[date]["is_closed"]){
                    bid = date+"_"+room.room_no;
                    rate = (week[date]["is_holiday"]? room.rate_holiday : room.rate_weekday);
                }               
                booking_content.push(<BookingItem id={bid} rate={rate} />)
            })
            return(
                <tr>
                    <th>
                        {room.room_name}
                    </th>
                    { booking_content }
                    <th>
                        {room.room_name}
                    </th> 
                </tr>
            )
        }
    }
    class BookingItem extends React.Component{
        render(){
            const bid = this.props.id;
            return(
                <td>
                    <a href="javascript: void(0)" onClick={this.handleClick(bid)}>{ this.props.rate }</a>
                </td>
            )
        }
        handleClick=(bid)=>{
            return(eObj=>{
                console.log("Click:", bid);
                
                
            })
        }
    }
    addEventListener("load", ()=>{
        ReactDOM.render(<Search />, document.getElementById("search_wrap"));
        if(window.location.search!==""){
            ReactDOM.render(<Calendar />, document.getElementById("calendar_wrap"))
        }
    })
</script>
{% endblock %}
{% endblock %}