{% extends "base.html" %}
{% block title %}金崙民宿 打個蛋海旅{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css ">
{% endblock %}
{% block content %}
<div id="award">
    <img src="/static/images/awards2020.jpg" alt="">
</div>
<div class="box">
    <div class="slogan">
        FEEL AT HOME
    </div>
    <div class="title">
        - Dagedan House B&B -
    </div>
    <div class="discribe">
        打個蛋 Dagedan 是排灣族語言「睡覺」的意思，希望大家藉由來台東渡假時，好好的休息、睡上一晚，能夠達到身心放鬆。
    </div>
</div>
<div id="search_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
<script type="text/babel">
    addEventListener("load", ()=>{
        ReactDOM.render(<Search />, document.getElementById("search_wrap"))
    })
</script>
{% endblock %}