{% extends "base.html" %}
{% block title %}打個蛋海旅首頁{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css ">
{% endblock %}
{% block content %}
<div class="box">
    <div class="slogan">
        <h1>FEEL AT HOME</h1>
    </div>
    <div class="title">
        <h2>- Dagedan House B&B -</h2>
    </div>
    <div class="describe">
        <p>打個蛋 Dagedan 是排灣族語言「睡覺」的意思，希望大家藉由來台東渡假時，好好的休息、睡上一晚，能夠達到身心放鬆。</p>
    </div>
</div>
<div id="search_wrap">
    <!--由Search組件渲染，來自base.html-->
</div>
{% block script %}
<script type="text/babel">
    addEventListener("load", ()=>{
        ReactDOM.render(<Search />, document.getElementById("search_wrap"))
    })
</script>
{% endblock %}
{% endblock %}