.navbar{
    display: flex;
}
.logo_container{
    flex: auto;
}
.collapse{
    margin-right: 15px;
}
#navbarDropdownMenuLink{
    color: lightskyblue;
}
#navbarSupportedContent{
    flex: none;
    width: auto;
}
#navbarSupportedContent> ul li{
    margin: 0 5px;
}
@media (max-width:767px){
    #navbarSupportedContent{
        width: 100%;
    }
}