.navbar{
    display: flex;
}
.navbar>div{
    
}
.logo_container{
    flex: auto;
}
#navbarDropdownMenuLink{
    color: lightskyblue;
}
#navbarSupportedContent{
    flex: none;
    width: auto;
    padding-right: 10px;
}
#navbarSupportedContent> ul li{
    margin: 0 5px;
}

@media (max-width:767px){
    #navbarSupportedContent{
        width: 100%;
        padding-right: 0;
    }
}