{% extends "admin_base.html" %}
{% block title %}Board{% endblock %}
{% block head %}
    {{ super() }}
    
    <style>
        .date>p{
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
        }
        .date>span{
            font-size: 13px; 
            font-weight:600;
        }
        td>a{
            font-size: 15px;
            text-decoration:none !important;
        }
        thead th{
            min-width: 80px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-sm-4">
                <div class="card ms-auto my-1 text-white bg-primary" style="width: 14rem;">
                    <div class="card-body">
                        <h1 class="card-title fw-bolder">{{ counts.new }}</h1>
                        <p class="card-text">近七日內新增訂房</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/admin/order?status=new" class="card-link text-white text-decoration-none">查看詳情</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card mx-auto my-1 text-white bg-success" style="width: 14rem;">
                    <div class="card-body">
                        <h1 class="card-title fw-bolder">{{ counts.pending }}</h1>
                        <p class="card-text">待確認匯款</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/admin/order?status=pending" class="card-link text-white text-decoration-none">查看詳情</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card me-auto my-1 text-white bg-warning" style="width: 14rem;">
                    <div class="card-body">
                        <h1 class="card-title fw-bolder">{{ counts.arrival }}</h1>
                        <p class="card-text">本日住房數</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/admin/order?status=paid" class="card-link text-white text-decoration-none">查看詳情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <caption>訂房行事曆</caption>
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle" style="width: 80px;">{{ calendar.year }}年</th>
                        {% for d in calendar.days %}
                            {% if d.is_closed %}
                                <th scope="col" class="date align-top text-muted">
                                    <p>{{ d.date }}</p>
                                    <p>{{ d.day }}</p>
                                    <span>全日關房</span>
                                </th>
                            {% elif d.is_holiday %}
                                <th scope="col" class="date align-top text-danger">
                                    <p>{{ d.date }}</p>
                                    <p>{{ d.day }}</p>
                                    <span>{{ d.note }}</span>
                                </th>
                            {% else %}
                                <th scope="col" class="date align-top">
                                    <p>{{ d.date }}</p>
                                    <p>{{ d.day }}</p>
                                    <span>{{ d.note }}</span>
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for r in rooms %}
                    <tr>
                        <th scope="row" class="align-middle">{{ r.rt.name }}</th>
                        {% for d in calendar.days %}
                        <td id="{{ calendar.year+'-'+d.date+'_'+r.room_no }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/babel" src="/static/jsx/admin/booked.jsx"></script>
{% endblock %}