{% extends "admin_base.html" %}
{% block title %}Order List{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        #search_wrap, #databox_wrap{
            max-width: 95%;
            margin: auto;
        }
        div[id^='payment_']{
            display: none;
            margin-top: 10px;
        }
        #inputStatusSelect, #inputGroupSelect, #keywordInput{
            max-width: 165px;
        }
        #inputStatusSelect:focus, #inputGroupSelect:focus, #keywordInput:focus{
            border-color: #6c757d;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="search_wrap" class="container">
        <div class="row my-3">
            <div class="col-1"></div>
            <div class="col-4" id="status_selector">
                <!--由StatusSelect組件渲染-->
            </div>
            <script type="text/babel" src="/static/jsx/admin/status.jsx"></script>
            <div class="col-1"></div>
            <div class="col-5" id="group_selector">
                <!--由KeywordSearch組件渲染-->
            </div>
            <script type="text/babel" src="/static/jsx/admin/search.jsx"></script>
            <div class="col-1"></div>
        </div>
    </div>
    <div id="databox_wrap">
        <div class="table-responsive-xl">
            <table class="table text-center my-3">
                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">入住 / 退房日期</th>
                        <th scope="col">天數</th>
                        <th scope="col">人數</th>
                        <th scope="col">總金額</th>
                        <th scope="col">訂房 / 付款資訊</th>
                        <th scope="col">狀態</th>
                    </tr>
                </thead>
                <tbody style="line-height: 1.8;">
                    {% if orders %}
                        {% for order in orders %}
                            {% if not order.status  %}
                            <tr></tr>
                            {% elif order.status.value=="PAID" %}
                            <!--已付款-->
                            <tr class="bg-paid">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款期限：<span class="text-success fw-bold">轉帳完成</span>
                                        <button type="button" class="btn btn-sm btn-outline-success fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">查看資料</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    已付款
                                </td>
                            </tr>
                            {% elif order.status.value=="NEW" %}
                            <!--新訂單-->
                            <tr class="bg-new">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款期限：<span class="text-decoration-none text-primary">{{ order.payment_deadline }}</span>
                                        <button type="button" class="btn btn-sm btn-outline-primary fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">確認匯款</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    新訂單
                                    <br>
                                    <button type="button" class="btn btn-sm btn-outline-dark fw-bold mt-2" id="cancel_btn_{{ order.oid }}">取消</button>
                                </td>
                            </tr>
                            {% elif order.status.value=="PENDING" %}
                            <!--待確認-->
                            <tr class="bg-pending">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款期限：<span class="text-decoration-none text-primary">{{ order.payment_deadline }}</span>
                                        <button type="button" class="btn btn-sm btn-outline-primary fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">確認匯款</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold text-primary">
                                    待確認
                                    <br>
                                    <button type="button" class="btn btn-sm btn-outline-dark fw-bold mt-2" id="cancel_btn_{{ order.oid }}">取消</button>
                                </td>
                            </tr>
                            {% elif order.status.value=="CANCEL" %}
                            <!--取消-->
                            <tr class="text-muted">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td class="fst-italic">
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div>
                                        付款期限：<span>已取消</span>
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    取消
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        // 取消訂單
        document.querySelectorAll("button[id^='cancel_btn_']").forEach(btn=>{
            btn.addEventListener("click", cancelOrderById);
        })
        function cancelOrderById(eObj){
            //console.log(csrf_token);
            const oid = eObj.target.id.split("_")[2];
            const check = confirm(`是否取消編號：${oid} 訂單?`);
            if(check){
                fetch(`${window.origin}/admin/api/order/${oid}`, {
                    method: "delete",
                    credentials: "include",
                    headers: {"X-CSRFToken": csrf_token}
                }).then(response=>{
                    if(response.status==200){
                        location.href = "/admin/orders";
                    }else{
                        console.log(response.json())
                    }
                })
            }
        }
    </script>
    <script type="text/babel" src="/static/jsx/admin/payment.jsx"></script>
{% endblock %}