{% extends "admin_base.html" %}
{% block title %}Order List{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        #search_wrap{
            max-width: 95%;
            margin: auto;
        }
        #databox_wrap{
            max-width: 95%;
            margin: auto;
        }
        div[id^='payment_']{
            display: none;
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="search_wrap" class="container">
        <!--由Search組件渲染-->
        <div class="row my-3">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="input-group mt-3">
                    <label class="input-group-text bg-secondary text-white" for="inputStatusSelect">訂單狀態</label>
                    <select class="form-select" id="inputStatusSelect">
                        <option value="all">全部訂單</option>
                        <option value="new">新訂單</option>
                        <option value="pending">待確認</option>
                        <option value="paid">已付款</option>
                    </select>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="input-group mt-3">
                    <select class="form-select" id="inputGroupSelect">
                        <option selected>請選取搜尋項目</option>
                        <option value="order_id">訂單編號</option>
                        <option value="phone">訂房電話</option>
                        <option value="check_in_date">入住日期</option>
                    </select>
                    <input type="text" class="form-control" name="keyword" id="keyword" placeholder="請輸入關鍵字">
                    <button class="btn btn-outline-primary" type="button">搜尋</button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div id="databox_wrap">
        <!--由DataBox組件渲染-->
        <div class="table-responsive-xl">
            <table class="table text-center my-3">
                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">入住 / 退房日期</th>
                        <th scope="col">天數</th>
                        <th scope="col">人數</th>
                        <th scope="col">總金額</th>
                        <th scope="col">訂房 / 付款資訊</th>
                        <th scope="col">狀態</th>
                    </tr>
                </thead>
                <tbody style="line-height: 1.8;">
                    {% if orders %}
                        {% for order in orders %}
                            {% if order.status.value=="PAID" %}
                            <!--已付款-->
                            <tr class="bg-paid">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款：<span class="text-success fw-bold">轉帳完成</span>
                                        <button type="button" class="btn btn-sm btn-outline-success fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">查看資料</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    已付款
                                </td>
                            </tr>
                            {% elif order.status.value=="NEW" %}
                            <!--新訂單-->
                            <tr class="bg-new">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款：<span class="text-decoration-none text-primary">{{ order.payment_deadline }}</span>
                                        <button type="button" class="btn btn-sm btn-outline-primary fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">確認匯款</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    新訂單
                                    <br>
                                    <button type="button" class="btn btn-sm btn-outline-dark fw-bold mt-2" id="cancel_btn_{{ order.oid }}">取消</button>
                                </td>
                            </tr>
                            {% elif order.status.value=="PENDING" %}
                            <!--待確認-->
                            <tr class="bg-pending">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div class="mt-2">
                                        付款：<span class="text-decoration-none text-primary">{{ order.payment_deadline }}</span>
                                        <button type="button" class="btn btn-sm btn-outline-primary fw-bold mx-1" id="get_payment_btn_{{ order.oid }}">確認匯款</button>
                                    </div>
                                    <div id="payment_{{ order.oid }}">
                                        由PaymentForm組件渲染
                                    </div>
                                </td>
                                <td class="fw-bold text-primary">
                                    待確認
                                    <br>
                                    <button type="button" class="btn btn-sm btn-outline-dark fw-bold mt-2" id="cancel_btn_{{ order.oid }}">取消</button>
                                </td>
                            </tr>
                            {% elif order.status.value=="CANCEL" %}
                            <!--取消-->
                            <tr class="text-muted">
                                <td scope="row">{{ order.oid }}</th>
                                <td>{{ order.create_datetime }}</td>
                                <td>
                                    {{ order.detail.check_in_date }} / {{ order.detail.check_out_date }}
                                    <br>
                                    {% if order.detail %}
                                    {{ order.detail.room.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.detail.nights }}</td>
                                <td>{{ order.detail.num_of_guests }}</td>
                                <td>{{ order.amount }}</td>
                                <td class="fst-italic">
                                    {{ order.detail.booker_name }} | {{ order.detail.booker_phone }}
                                    <div>
                                        付款：<span>已取消</span>
                                    </div>
                                </td>
                                <td class="fw-bold">
                                    取消
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/babel">
        // 取消訂單
        document.querySelectorAll("button[id^='cancel_btn_']").forEach(btn=>{
            btn.addEventListener("click", cancelOrderById);
        })
        function cancelOrderById(eObj){
            //console.log(csrf_token);
            const oid = eObj.target.id.split("_")[2];
            const check = confirm(`是否取消編號：${oid} 訂單?`);
            if(check){
                fetch(`${window.origin}/admin/order/${oid}`, {
                    method: "delete",
                    credentials: "include",
                    headers: {"X-CSRFToken": csrf_token}
                }).then(response=>{
                    if(response.status==200){
                        location.href = "/admin/order";
                    }else{
                        console.log(response.json())
                    }
                })
            }
        }
        // 取得匯款資料
        document.querySelectorAll("button[id^='get_payment_btn_']").forEach(btn=>{
            btn.addEventListener("click", getPaymentByOid);
        })
        function getPaymentByOid(eObj){
            //console.log(csrf_token);
            document.querySelectorAll("div[id^='payment_']").forEach(div=>{
                div.style.display = "none";
            });

            const oid = eObj.target.id.split("_")[3];
            
            fetch(`${window.origin}/admin/api/payment/${oid}`).then(response=>{
                if(response.status==200){
                    return response.json()
                }else{
                    console.log(response.json());
                }
            }).then(resp=>{
                const payment_div = document.getElementById(`payment_${oid}`);
                payment_div.style.display = "block";
                ReactDOM.render(<PaymentForm data={resp.data} oid={oid}/>, payment_div);
            })
        }
        class PaymentForm extends React.Component{
            state = {
                bank: "", // 銀行
                account_no: "", //帳號至先五碼
                name: "", // 戶名
                amount: "",
                transfer_date: ""
            }
            labels = {
                bank: "匯款銀行", 
                account_no: "帳號末五碼", 
                name: "匯款戶名", 
                amount: "金額",
                transfer_date: "匯款日期"
            }
            componentDidMount(){
                if(this.props.data){
                    this.setState({
                        bank: this.props.data.bank,
                        account_no: this.props.data.account_no,
                        name: this.props.data.name,
                        amount: this.props.data.amount,
                        transfer_date: this.props.data.transfer_date
                    })
                }
            }
            render(){
                console.log(this.props.data);
                console.log(this.props.oid);
                return(
                    <form className="" id={`payment_form_${this.props.oid}`}>
                        This is PaymentForm
                    </form>
                )
            }
        }
    </script>
{% endblock %}