<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="金崙海灘秘境民宿 打個蛋海旅Dagedan House BNB 位於台東縣日昇之鄉太麻里">
    <title>{% block title %}{% endblock %}</title>
    <!--Load React and React DOM-->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Load Babel -->
    <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="icon" href="/static/images/717322.jpg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/calendar.js"></script>
    {% endblock %}
</head>
<body>
    <div id="header_wrap">
        <!--由Header組件渲染-->
    </div>   
    <main>
        <div class="mainbox">
            {% block content %}

            {% endblock %}
        </div>
        <footer>
            <div class="social_media_icon">
                <h3>Follow Us &thinsp;</h3>
                <a href="https://www.facebook.com/Dagedanhouse">
                    <img src="/static/images/icon-fb.png" alt="https://www.facebook.com/Dagedanhouse">
                </a>
                <a href="https://www.instagram.com/dagedanhouse/">
                    <img src="/static/images/icon-ig.png" alt="https://www.instagram.com/dagedanhouse/">
                </a>          
            </div>
            <div>
                <p>© 2020 by Dagedan House B&B</p>
            </div>
        </footer>
    </main>
    <script type="text/babel">
        class Header extends React.Component{
            state = {
                dropdown: false
            }
            componentDidMount(){
                document.querySelector("main").addEventListener("click", (eObj)=>{
                    this.setState({dropdown: false})
                })
            }
            render(){
                return(
                    <header className={this.state.dropdown && "header_dropdown"}>
                        <div className="nav">
                            <div className="logo">
                                <a href="/">
                                    {this.state.dropdown? (
                                        <img src="static/images/logo1.jpg" id="logo_mobile" alt="home"/>
                                    ):(
                                        <img src="/static/images/logo.png" id="logo_main" alt="home"/>
                                    )}
                                </a>
                            </div>
                            <div id="menu_toggler">
                                <button onClick={this.handleDropDown}>
                                    {this.state.dropdown? (
                                        <img src="/static/images/OK_icon2.png" id="menu_toggler_btn_close" alt="menu_toggler_btn_close"/>
                                    ):(
                                        <img src="/static/images/OK_icon1.png" id="menu_toggler_btn_open" alt="menu_toggler_btn_open"/>
                                    )}
                                </button>
                            </div>
                            <div id="menu">
                                <ul>
                                    <li>
                                        <a href="/about">關於打個蛋</a>
                                    </li>
                                    <li>
                                        <a href="/booking">
                                            <button id="book_now_btn">線上訂房</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div className={this.state.dropdown? "dropdown_menu" : "dropdown_menu_hidden"}>
                            <div>
                                <ul>
                                    <li>
                                        <a href="/">首　頁</a>
                                    </li>
                                    <hr/>
                                    <li>
                                        <a href="/about">關於打個蛋</a>
                                    </li>
                                    <hr/>
                                    <li>
                                        <a href="/booking">線上訂房</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                )
            }
            handleDropDown=()=>{
                this.setState({dropdown: !this.state.dropdown})
            }
        }
        ReactDOM.render(<Header />, document.getElementById("header_wrap"));
    </script>
</body>
</html>