<!DOCTYPE html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="金崙海灘秘境民宿 打個蛋海旅Dagedan House BNB 位於台東縣日昇之鄉太麻里">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/images/717322.jpg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/calendar.js"></script>
    <!--Load React and React DOM-->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Load Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    {% endblock %}
</head>
<body>
    <div id="header_wrap">
        <!--由Header組件渲染-->
    </div>   
    <main>
        <div class="mainbox">
            {% block content %}

            {% endblock %}
        </div>
        <footer>
            <div class="social_media_icon">
                <h3>Follow Us &thinsp;</h3>
                <a href="https://www.facebook.com/Dagedanhouse">
                    <img src="/static/images/icon-fb.png" alt="https://www.facebook.com/Dagedanhouse">
                </a>
                <a href="https://www.instagram.com/dagedanhouse/">
                    <img src="/static/images/icon-ig.png" alt="https://www.instagram.com/dagedanhouse/">
                </a>          
            </div>
            <div>
                <p>© 2020 by Dagedan House B&B</p>
            </div>
        </footer>
    </main>
    <script type="text/babel">
        let search_string_1st;
        let search_string_2nd;
        let search_string_3th;
        class Search extends React.Component{
            state={
                check_in_date: "",
                check_out_date: "",
                guests: 1
            }
            componentDidMount(){
                if(location.search){
                    search_string_1st = location.search.split("&")[0].split("?")[1].split("=");
                    search_string_2nd = location.search.split("&")[1].split("=");
                    search_string_3th = location.search.split("&")[2].split("=");
                    this.setState({
                        check_in_date: (search_string_1st[0]==="checkin" && search_string_1st[1]),
                        check_out_date: (search_string_2nd[0]==="checkout" && search_string_2nd[1]),
                        guests: (search_string_3th[0]==="guests" && search_string_3th[1])
                    })
                }else{
                    this.setState({
                        check_in_date: dateIndexToString(1),
                        check_out_date: dateIndexToString(2)
                    })
                }
            }
            render(){
                const check_in_index = dateStringToIndex(this.state.check_in_date);
                return(
                    <div id="available_search">
                        <div className="check_in_date_div">
                            <p>入住日期</p>
                            <input type="date" name="check_in_date" id="check_in_date" min={dateIndexToString(1)} max={dateIndexToString(12*7)}
                                value={this.state.check_in_date} onChange={this.handleChange("check_in_date")}/>
                        </div>
                        <div className="check_out_date_div">
                            <p>退房日期</p>
                            <input type="date" name="check_out_date" id="check_out_date" min={dateIndexToString(check_in_index+1)} max={dateIndexToString(12*7+1)}
                                value={this.state.check_out_date} onChange={this.handleChange("check_out_date")}/>
                        </div>
                        <div className="num_of_guests_div">
                            <p>住宿人數</p>
                            <input type="number" name="guests" id="guests" min="1" max="99" 
                                value={this.state.guests} onChange={this.handleChange("guests")}/>
                        </div>
                        <div className="submit_div">
                            <button type="submit" onClick={this.handleSubmit}>查詢空房</button>
                        </div>
                    </div>
                )
            }
            handleChange=(dataType)=>{         
                return (eObj)=>{
                    if(dataType==="check_in_date"){
                        const check_in_date = eObj.target.value;
                        const check_in_index = dateStringToIndex(check_in_date);
                        const check_out_date = dateIndexToString(check_in_index+1);
                        this.setState({
                            check_in_date,
                            check_out_date
                        })
                    }else{
                        this.setState({[dataType]: eObj.target.value})
                    }
                }
            }
            handleSubmit=()=>{
                const {check_in_date, check_out_date, guests} = this.state
                if(dateStringToIndex(check_out_date)>dateStringToIndex(check_in_date)){
                    let search_string = "checkin="+check_in_date+"&checkout="+check_out_date+"&guests="+guests
                    location.href = `${window.origin}/booking?${search_string}`
                }else{
                    alert("退房日期必須晚於入住日期")
                    return
                }
            }
        }
        class Header extends React.Component{
            state = {
                dropdown: false
            }
            componentDidMount(){
                document.querySelector("main").addEventListener("click", (eObj)=>{
                    this.setState({dropdown: false})
                })
            }
            render(){
                return(
                    <header className={this.state.dropdown && "header_dropdown"}>
                        <div className="nav">
                            <div className="logo">
                                <a href="/">
                                    {this.state.dropdown? (
                                        <img src="static/images/logo1.jpg" id="logo_mobile" alt="home"/>
                                    ):(
                                        <img src="/static/images/logo.png" id="logo_main" alt="home"/>
                                    )}
                                </a>
                            </div>
                            <div id="menu_toggler">
                                <button onClick={this.handleDropDown}>
                                    {this.state.dropdown? (
                                        <img src="/static/images/OK_icon2.png" id="menu_toggler_btn_close" alt="menu_toggler_btn_close"/>
                                    ):(
                                        <img src="/static/images/OK_icon1.png" id="menu_toggler_btn_open" alt="menu_toggler_btn_open"/>
                                    )}
                                </button>
                            </div>
                            <div id="menu">
                                <ul>
                                    <li>
                                        <a href="/about">關於打個蛋</a>
                                    </li>
                                    <li>
                                        <a href="/booking">
                                            <button id="book_now_btn">線上訂房</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div className={this.state.dropdown? "dropdown_menu" : "dropdown_menu_hidden"}>
                            <div>
                                <ul>
                                    <li>
                                        <a href="/">首　頁</a>
                                    </li>
                                    <hr/>
                                    <li>
                                        <a href="/about">關於打個蛋</a>
                                    </li>
                                    <hr/>
                                    <li>
                                        <a href="/booking">線上訂房</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                )
            }
            handleDropDown=()=>{
                this.setState({dropdown: !this.state.dropdown})
            }
        }
        addEventListener("load", ()=>{
            ReactDOM.render(<Header />, document.getElementById("header_wrap"));
        })
    </script>
    {% block script %}{% endblock %}
</body>
</html>