{% extends "base.html" %}
{% block title %}結帳頁面{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/bill.css">
    <script type="text/javascript" src="static/js/order.js"></script>
{% endblock %}
{% block content %}
<div id="bill_wrap">
    <!--由Bill組件渲染-->
</div>
{% block script %}
<script type="text/babel">
    class Bill extends React.Component{
        render(){
            return(
                <div>
                    <h4>您已完成訂房，請按下列資訊在期限內進行付款：</h4>
                    <table>
                        <tr>
                            <th>訂單編號</th>
                            <td>{this.props.oid}</td>
                        </tr>
                        <tr>
                            <th>收款帳戶</th>
                            <td>
                                <p>玉山銀行(808) 中山分行</p>
                                <p>帳號：0417-968-052086</p>
                                <p>戶名：林志豪</p> 
                            </td>
                        </tr>
                        <tr>
                            <th>金　　額</th>
                            <td>新台幣 {parseInt(this.props.data.amount)} 元</td>
                        </tr>
                        <tr>
                            <th>付款期限</th>
                            <td>{this.props.data.payment_deadline}</td>
                        </tr>
                    </table>
                    <p className="reminder">*** 於付款期限內，完成匯款後，請來電089-771551確認，確保您的訂房權益。 ***</p>
                </div>
            )
        }
    }
    addEventListener("load", ()=>{
        const oid = window.location.search.split("?")[1].split("=")[1];
        if(oid){
            getOrderByOid(oid).then(resp=>{
                ReactDOM.render(<Bill oid={oid} data={resp.data}/>, document.getElementById("bill_wrap"));
            })
        }
    })
</script>
{% endblock %}
{% endblock %}