{% extends "base.html" %}
{% block title %}線上訂房 | 打個蛋海旅{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bookingform.css">
    <script type="text/javascript" src="static/js/room.js"></script>
    <script type="text/javascript" src="static/js/order.js"></script>
    <!-- Load Pubsub-js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.9.3/pubsub.min.js" integrity="sha512-ASNLdxh5Knd0ESqUQE2hvUbXxOmu0y27vVVibROAKRomo+R6ocykvh0m8tE9qMEfmeVbEyNL1M6FvvyRKyZIoQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div id="booking_container">
        <form className="booking_form">
            <div class="row g-0">
                <div class="col-12 col-md-5 my-3">
                    <div class="booking_detail">
                        <h6 class="mb-3 text-center">- 訂房明細 -</h6>
                        <p class="my-3">期間：2022-02-06 ~ 2022-02-07，共 1 晚</p>
                        <p>房型：
                            海旅雙人套房 * 
                            <input type="number" value="1" min="1" max="99" class="form-control form-control-sm form-control-inline"/>
                            間
                        </p>
                        <p>人數：
                            <input type="number" value="1" min="1" max="99" class="form-control form-control-sm form-control-inline"/>
                            人
                        </p>
                        <p>總金額：新台幣
                            <input type="text" disabled="true" readOnly="true" class="form-control form-control-inline"
                            value="33333" id="amount"/>
                            元    
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-1 arrow_img_div">
                    <img src="/static/images/right.png" class="mx-auto d-block"alt="">
                </div>
                <div class="col-12 col-md-6 my-3">
                    <div class="booker_info">
                        <h6 class="mb-3 text-center">- 訂房人資料 -</h6>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">訂房全名：</label>
                            </div>
                            <div class="col-auto col-input-text">
                                <input type="password" id="inputPassword6" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
                            </div>
                            <div class="col-12 col-sm-5 mx-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">先生</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">小姐</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">聯絡手機：</label>
                            </div>
                            <div class="col-auto col-input-text">
                                <input type="password" id="inputPassword6" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
                            </div>
                            <div class="col-5">
                            </div>
                        </div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">電子信箱：</label>
                            </div>
                            <div class="col-auto">
                                <input type="password" id="inputPassword6" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
                            </div>
                        </div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">信箱驗證：</label>
                            </div>
                            <div class="col-auto col-input-text">
                                <input type="password" id="inputPassword6" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
                            </div>
                            <div class="col-5 px-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary" disabled="true">發送驗證碼</button>
                            </div>
                        </div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">預計抵達：</label>
                            </div>
                            <div class="col-auto">
                                <input type="datetime-local" id="inputPassword6" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-outline-primary mt-2" value="確認訂房">
                    </div>
                </div>
            </div>
        </form>
    </div>    
{% endblock %}