{% extends "base.html" %}
{% block title %}線上訂房 | 打個蛋海旅{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/booking.css">
    <script type="text/javascript" src="static/js/room.js"></script>
    <script type="text/javascript" src="static/js/order.js"></script>
    <!-- Load Pubsub-js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.9.3/pubsub.min.js" integrity="sha512-ASNLdxh5Knd0ESqUQE2hvUbXxOmu0y27vVVibROAKRomo+R6ocykvh0m8tE9qMEfmeVbEyNL1M6FvvyRKyZIoQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div id="search_wrap">
    <!--由/static/jsx/search.jsx渲染-->
</div>
<script type="text/babel" src="/static/jsx/search.jsx"></script>
<div id="room_box_wrap">
    <!--由/static/jsx/roombox.jsx渲染-->
</div>
<script type="text/babel" src="/static/jsx/roombox.jsx"></script>
{% endblock %}